.card {
  height: 290px;
  background-size: cover;
  background-position: center;
  background-image: url('/images/pcgamer.jpg');
}

.content {
  position: absolute;
  inset: 0;
  padding: var(--mantine-spacing-sm);
  z-index: 1;
}

.action {
  position: absolute;
  bottom: var(--mantine-spacing-xl);
  right: var(--mantine-spacing-xl);
}

.title {
  color: var(--mantine-color-white);
  margin-bottom: calc(var(--mantine-spacing-xs) / 2);
}

.description {
  color: var(--mantine-color-white);
  max-width: 220px;
}
